html, body{
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6, p, div, span, a, button, input, label, ul, ol, li, img{
  color: black;
  padding: 0;
  margin: 0;
  line-height: 1.3em;
  font-size: 16px;
  font-weight: normal;
  list-style: none;
  text-decoration: none;
  border: none;
}