#header{
  /* margin-top: 0; */

}
#header_layout{
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
/* sub_header */
.sub_header{
  background: #fff;
  border-bottom: 1px solid #ddd;
}
.sub_header_in_box{
  padding: 16px 0;
  text-align: right;
}
.change_lan_box{
  display: inline-block;
}
.change_lan_box .lan_lists{
  display: inline-block;
  margin-left: 20px;
}
.lan_lists .lan_ankor{
  color: #999;
  font-size: 14px;
  position: relative;
}
.lan_lists:nth-child(1) .lan_ankor{
  color: #000;
}
.lan_lists .lan_ankor::before{
  content: '';
  background: #999;
  display: inline-block;
  position: absolute;
  left: -10px;
  top: 50%;
  width: 2px;
  height: 2px;
}
.lan_lists:nth-child(1) .lan_ankor::before{
  display: none;
}
.exchange_rate_box{
  display: inline-block;
  margin-left: 40px;
}
.exchange_rate_title{
  color: #999;
  font-size: 14px;
}
.exchange_rate_amount{
  font-size: 14px;
}
.link_internet_box{
  display: inline-block;
  margin-left: 40px;
}
.link_internet_box .internet_ankor{
  background: url(img/sub_header_link.png) no-repeat;
  display: inline-block;
  padding-left: 25px;
  font-size: 14px;
}
/* main_header */
.main_header{
  background: #fff;
  position: relative;
}
.main_header::before{
  content: '';
  background-color: #f9f9f9;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 76px;
  right: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ddd;
  transition: visibility 0s .5s;
}
.h_logo_box{
  position: absolute;
  left: 0;
  top: 28px;
}
.main_header .h_list_box{
  position: relative;
  margin-left: 165px;
}
.main_header .h_list_box::after{
  content: '';
  display: block;
  clear: both;
}
.h_list_box .h_lists{
  float: left;
  width: 146px;
  text-align: center;
}
.h_lists .h_ankor{
  color: #535353;
  display: inline-block;
  width: 100%;
  padding: 28px 0;
  font-size: 16px;
  letter-spacing: -1px;
}
.h_droplist_box{
  max-height: 0px;
  transition: max-height .6s, padding .8s;
  overflow: hidden;
}
.h_droplists::before{
  content: '';
  background: #ddd;
  position: absolute; 
  top: 76px;
  bottom: 0;
  width: 1px;
  margin-left: 72px;
}
.h_droplists .drop_ankor{
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: #666;
  letter-spacing: -0.3px;
  padding: 9px 0;
}
.h_droplists .drop_ankor:hover{
  color: #000;
}
/* main_header_effect */
.soai{
  position: fixed;
  width: 100%;
}
.noneE{
  display: none;
}
#header.on_switch .h_droplist_box{
  max-height: 300px;
  padding: 18px 0;
  transition: max-height .5s;
}
#header.on_switch .h_droplists{
  display: block;
}
#header.on_switch .main_header{
  border-bottom: 1px solid #ddd;
}
#header.on_switch .main_header::before{
  visibility: visible;
  transition: 0s;
}


/* 다음 파트 */
.testing{
  position: absolute;
  left: 0;
  top: 131px;
  z-index: -111;
}
/* .in_testing{
  position: absolute;
  left: 0;
  top: 0;
} */